* {margin: 0; padding: 0;}
ul,ol,li {list-style: none;}
a {text-decoration: none;}
img {vertical-align: middle;}



#header {background-color: tan;}
#header .center {background-color: green; width: 1000px; margin: 0 auto;}

#container {background-color: green;}
#container .cont1 .center {width: 1170px; margin-top: 0 auto; background-color: tan;}
#container .cont2 .center {width: 1170px; margin-top: 0 auto; background-color: skyblue;}



#footer {background-color: grey;}
#footer .center {width: 1170px; margin: 0 auto; background-color: pink;}
#footer p {font-size: 25px;}

/* 서브페이지 1 css 작업 구간 */
#header .h-top .center {background-color: purple; color: #fff;}
#header .h-bot .center {background-color: yellow; color: blue;}
